config/kak/plugins/
config/kak/colors/
config/systemd/user/*.wants
config/systemd/user/*.local.*
config/pulse/*
!config/pulse/default.pa
*.local
ssh/*
!ssh/config
config/sway/Wallpaper.jpg
config/fish/fish_variables
config/void/db/*.lock
*.db
.stversions
