[Unit]
Description=Forward Syncthing from Maya to public internet

[Service]
Type=simple
ExecStart=ssh -NT -L 0.0.0.0:22001:localhost:22000 alarm@maya.local
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
