* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Symbols Nerd Font Mono, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(90deg, #fff600 0%, rgba(247,247,232,1) 100%);
    color: #557174;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 5px;
    background-color: transparent;
    color: #557174;
    border-radius: 15px;
    margin-left: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
    color: #f7f7e8;
}

#workspaces button.focused {
    background-color: #b0e0e6;
}

#workspaces button.urgent {
    background-color: #d1a193;
}

#mode {
    background-color: #b3ac00;
    color: #f7f7e8;
    padding: 0 8px;
    margin: 0 4px;
}

#custom-swayscratch {
    margin: 0 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-right widget * {
    border-right-style: dashed;
    border-right-color: #b3ac00;
    border-right-width: 2px;
    padding: 0 12px;
    color: #19474d;
}
.modules-right widget:last-child * {
    border: none;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
}

#battery.critical:not(.charging) {
    background-color: #ed872d;
}

label:focus {
    background-color: #557174;
    color: #ffffff;
}

#cpu, #memory, #disk {
    background-color: #ed872d;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected, #custom-kdeconnect.disconnected {
    background-color: #fff600;
}

#pulseaudio {
    background-color: transparent;
}
#pulseaudio:not(.muted) {
    padding: 0;
    margin: 0;
    border: none;
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: #b8bc86;
}

#language {
    background-color: transparent;
}

#custom-language, #custom-keystate {
    background-color: #b0e0e6;
}

#custom-pacman {
    background-color: #b0e0e6;
}

#custom-virsh {
    background-color: transparent;
}
